<!DOCTYPE html>
<html lang="en" ng-app="CartApp">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- libs -->
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
    <script src="/libs/jquery/dist/jquery.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libs/angular/angular.js"></script>
    <!-- load my apps -->
    <script src="/main.js"></script>
</head>

<body ng-controller="CartCtrl as cartCtrl">
    <div class="container">
        <form name="itemForm" ng-submit="cartCtrl.addToBasket()" novalidate>
            <div class="form-group">
                <h5> My shopping cart</h5>
                <label for="item"> Item:</label>
                <input type="text" name="item" required id="item" class="form-control" ng-model="cartCtrl.item">
                {{itemForm.item.$valid}}
                <span id="helpBlock" ng-hide=itemForm.item.$valid class="help-block ng-hide ">Please enter the item you wish to procure</span>
            
            </div>
            <div class="form-group">
                <label for="quantity"> Quantity:</label>
                <input type="number" name="quantity" required min="1" id="quantity" class="form-control" ng-model="cartCtrl.quantity">
                {{itemForm.quantity.$valid}}
                <span id="helpBlock" ng-hide=itemForm.quantity.$valid class="help-block ng-hide ">Please enter the quantity you wish to procure</span>
            
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success form-control" ng-disabled="itemForm.$invalid"> Add to Cart <i class="fa fa-cart-plus"> </i>
                
            </button>
            </div>
        </form>
        <br>
        <form class="form-inline">
            <div class="form-group">
                <label for="filter"> Filter: </label>
                <input type="text name="" id="filter" class ="form-control" size ="50" ng-model="cartCtrl.filterText">

            </div>
</form>
        <table class="table ">

            <tr>
                <th>Item</th>
                <th>Quantity</th>
            </tr>
            <tr ng-repeat="i in cartCtrl.basket | filter:{item:cartCtrl.filterText}">
                <td>{{i.item | uppercase}}</td>
                <td>{{i.quantity}}</td>
            </tr>
        </table>
    </div>
</body>

</html>